<form class="border container-fluid bg-white " th:fragment="createNew"
      id="createForm">

    <div style="width: 500px; text-align: center; margin-left: auto;margin-right: auto">
        <h4>Имя</h4>
        <input type="text" id="nameC"   placeholder="Введите имя пользователя" class="form-control"><br>
        <h4>Никнейм</h4>
        <input type="text" id="nicknameC" placeholder="Введите никнейм пользователя" class="form-control"><br>
        <h4>Место в рейтинге</h4>
        <input type="number" id="ladderC" placeholder="Введите рейтинг" class="form-control"><br>
        <h4>Email</h4>
        <input type="email" id="emailC" placeholder="Введите почту" class="form-control"><br>
        <h4>Пароль</h4>
        <input type="password" id="passwordC" placeholder="Введите пароль" class="form-control"><br>
        <h4>Роль</h4>

        <select required class="form-select" multiple id="rolesC">
            <option value="" text="" id="optionC"></option>
        </select>
        <button style="margin: 40px 40px 40px 40px"  class="btn btn-success  btn-lg" id="createButton">Добавить
            пользователя
        </button>
    </div>

</form>