<div th:fragment="edit">
    <div class="modal fade" id="staticBackdropEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Edit user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="text-align: center" class="container mt-5 mb-5">
                        <form id="formE">
                            <h5>ID</h5>
                            <input type="text" id="idE" placeholder="" class="form-control" disabled>
                            <h5>Name</h5>
                            <input type="text" id="nameE" placeholder="" class="form-control">
                            <h5>Nickname</h5>
                            <input type="text" id="nicknameE" placeholder="" class="form-control">
                            <h5>Ladder</h5>
                            <input type="number" id="ladderE" placeholder="" class="form-control">
                            <h5>Email</h5>
                            <input type="email" id="emailE" placeholder="" class="form-control">
                            <h5>Password</h5>
                            <input type="password" id="passwordE" placeholder="" onfocus="this.value=''"
                                   class="form-control">
                            <h5>Roles</h5>
                            <select class="form-select" multiple name="stringRoleList" id="rolesModalE" size="2">
                                <option></option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="editButtonModal btn btn-primary" id="editButtonModal">Edit</button>
                </div>
            </div>
        </div>
    </div>


</div>