<!--    Модальное окно-->
<div th:fragment="modalDelete">
    <div class="modal fade" id="staticBackdropDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Удаление пользователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div style="text-align: center" class="container mt-5 mb-5">

                        <form id="formD">
                            <h5>ID</h5>

                            <input type="text" name="id" id="idD"
                                   placeholder="Введите id"
                                   class="form-control" disabled>

                            <h5>Имя</h5>
                            <input type="text" id="nameD" name="name"
                                   placeholder="Введите имя пользователя"
                                   class="form-control" disabled>

                            <h5>Никнейм</h5>
                            <input type="text" id="nicknameD" name="nickname"
                                   placeholder="Введите никнейм пользователя" class="form-control" disabled>

                            <h5>Место в рейтинге</h5>
                            <input type="number" id="ladderD" name="ladder"
                                   placeholder="Введите рейтинг пользователя" class="form-control" disabled>

                            <h5>Email</h5>
                            <input type="email" id="emailD" name="email"
                                   placeholder="Введите электронную почту пользователя" class="form-control" disabled>


                            <h5>Роли</h5>
                            <select class="form-select" multiple name="stringRoleList" id="rolesModalD" disabled>
                                <option></option>
                            </select>
                        </form>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="deleteButtonModal btn btn-danger" id="deleteButtonModal">Удалить
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>