<form class="border container-fluid bg-white " th:fragment="new_User"
      id="createForm">
    <div style="width: 500px; text-align: center; margin-left: auto;margin-right: auto">
        <h4>Name</h4>
        <input type="text" id="nameCreate"   placeholder="Name user" class="form-control"><br>
        <h4>Nickname</h4>
        <input type="text" id="nicknameCreate" placeholder="Nickname user" class="form-control"><br>
        <h4>Ladder</h4>
        <input type="number" id="ladderCreate" placeholder="Ladder position" class="form-control"><br>
        <h4>Email</h4>
        <input type="email" id="emailCreate" placeholder="BlaBla@mail.ru" class="form-control"><br>
        <h4>Password</h4>
        <input type="password" id="passwordCreate" placeholder="Entery password" class="form-control"><br>
        <h4>Roles</h4>
        <select required class="form-select" multiple id="rolesCreate" size="2">
            <option value="" text="" id="optionCreate"></option>
        </select>
        <button style="margin: 40px 40px 40px 40px"  class="btn btn-success  btn-lg" id="createButton">Add new user
        </button>
    </div>

</form>