<div th:fragment="user_page">
    <div class="tab-content border" id="myTabContent">
        <h3 style="margin: 0 0 0 0; padding: 10px" class="border-top-0 rounded-1">About user</h3>
        <div style="background: white;  padding-top: 10px; margin: 0 0 0 0; " class="container-fluid border">
            <table style="background: white; " class="table table-border-top table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Nickname</th>
                    <th>Ladder</th>
                    <th>Email</th>
                    <th>Roles</th>
                </tr>
                </thead>
                <tbody id="tbodyTableUser">
                </tbody>
            </table>
        </div>
    </div>
</div>